ErrorDocument 404 http://localhost/tsigroup/404.php
ErrorDocument 403 http://localhost/tsigroup/403.php

ServerSignature Off

#Default Language Settings
DefaultLanguage en

#Disable directory listing 
Options All -Indexes

RewriteEngine on

RewriteCond %{HTTPS} off

RewriteCond %{REQUEST_FILENAME} !-d

RewriteCond %{REQUEST_FILENAME}\.php -f

RewriteRule ^([^/]+)/?$ $1.php [NC,L]

